<div class="user-show-wrapper">
<div class="row">
	<div class="col-md-4 col-sm-offset-2">
		<h3>ユーザーページ</h3>
	</div>
</div>

<div class="row">
	<div class="col-sm-4 col-sm-offset-7">
		<% if @user.id == current_user.id %>
        	<u><%= link_to ">>プロフィール編集", edit_user_registration_path(@user), class: "edit_plofile" %></u>
    	<% end %>
	</div>
</div>


<div class="row">
<div class="col-md-8 col-md-offset-1">
	<table class="box6">
		<tr class="info-menu">
          <td rowspan="3"><%= attachment_image_tag @user, :plofile_image, format: 'jpeg', class: "img-circle profile-show-image", fallback: "no_image.jpg" %></td>
    		<td class="info-menu-left">名前</td>
    		<td><%= @user.user_name %></td>
    </tr>

		<tr class="info-menu">
    		<td class="info-menu-left">好きな猫種</td>
    		<td><%= @user.favorite_breed.cat_breed %></td>
    </tr>

		<tr class="info-menu">
    		<td class="info-menu-left">自己紹介</td>
    		<td><%= @user.introduction %></td>
    </tr>
  </table>
</div>
</div>

<div class="row">
    <div class="col-md-2 col-sm-offset-2 show-follow">
      <%= render 'stats' %>

		<% unless @user.id == current_user.id %>
  			<% if @isRoom == true %>
    			<p class="user-show-room"><a href="/rooms/<%= @roomId %>" class="far fa-envelope">DMを送る</a></p>
  			<% else %>
    			<%= form_for @room do |f| %>
      			<%= fields_for @entry do |e| %>
        			<%= e.hidden_field :user_id, value: @user.id %>
      			<% end %>
      			<%= f.submit "DMを送る", class:"btn btn-success btn-sm user-show-chat"%>
    			<% end %>
  			<% end %>
		<% end %>

      <%= render 'follow_form' %>

      <div class="dm-envelope">
        <% if @user.id == current_user.id %>
          <i class="far fa-envelope"></i><%= link_to "DM一覧", rooms_path,class: "dm-index" %>
        <% end %>
      </div>

    </div>
</div>

<div class="row">
	<div class="col-md-8 col-sm-offset-2">
		<h3>投稿一覧</h3>
			<% @posts.each do |post| %>
        <%= link_to post_path(post),class: "post-show-items" do %>
				<%= attachment_image_tag post, :image, format: 'jpeg', fallback: "no_image.jpg", class: "userpost-image" %>
        <% end %>
			<% end %>
    </div>
</div>
</div>