<div class="row">
	<div class="col-md-4 col-sm-offset-2">
		<h3>ユーザーページ</h3>
	</div>
</div>

<div class="row">
	<div class="col-md-4 col-sm-offset-7">
		<% if @user.id == current_user.id %>
        	<u><%= link_to "プロフィール編集", edit_user_registration_path(@user) %></u>
    	<% end %>
	</div>
</div>


<div class="row">
	<div class="col-md-2 col-sm-offset-1">
    <%= attachment_image_tag @user, :plofile_image, :fill, 100, 100, format: 'jpeg', class: "img-circle pull-right profile-show-image", fallback: "no_image.jpg" %>
	</div>

	<div class="col-md-6 box6">
		<div class="col-md-12 info-menu">
    		<p class="info-menu-left col-md-3">ユーザーネーム</p>
    		<p class="info-menu-right"><%= @user.user_name %></p>
    </div>

		<div class="col-md-12 info-menu">
    		<p class="info-menu-left col-md-3">好きな猫種</p>
    		<p class="info-menu-right"><%= @user.favorite_breed.cat_breed %></p>
    </div>

		<div class="col-md-12 info-menu">
    		<p class="info-menu-left col-md-3">自己紹介</p>
    		<p class="info-menu-right"><%= @user.introduction %></p>
    </div>
  </div>
</div>

<div class="row">
    <div class="col-md-2 col-sm-offset-2 show-follow">
      <%= render 'stats' %>

		<% unless @user.id == current_user.id %>
  			<% if @isRoom == true %>
    			<p class="user-show-room"><a href="/rooms/<%= @roomId %>" class="far fa-envelope">DMを送る</a></p>
  			<% else %>
    			<%= form_for @room do |f| %>
      			<%= fields_for @entry do |e| %>
        			<%= e.hidden_field :user_id, value: @user.id %>
      			<% end %>
      			<%= f.submit "DMを送る", class:"btn btn-success btn-sm user-show-chat"%>
    			<% end %>
  			<% end %>
		<% end %>

      <%= render 'follow_form' %>

      <% if @user.id == current_user.id %>
        <i class="far fa-envelope"></i><%= link_to "DM一覧", rooms_path,class: "dm-index" %>
      <% end %>

    </div>
</div>

<div class="row">
	<div class="col-md-8 col-sm-offset-2">
		<h3>投稿一覧</h3>
			<% @posts.each do |post| %>
        <%= link_to post_path(post),class: "post-show-items" do %>
				<%= attachment_image_tag post, :image, :fill, 120, 90, format: 'jpeg', fallback: "no_image.jpg", class: "userpost-image" %>
        <% end %>
			<% end %>
    </div>
</div>