<div class="container">
	<div class="row">
	<div class="col-xs-offset-1 col-xs-10">
		<h3><span>　猫種一覧・追加　</span></h3><br><br>
	</div>
	</div>

	<div class="row">
		<div class="col-xs-7">
			<div class="radio-inline">
				猫種<%= form_for @breed,url:admin_favorite_breeds_path do |f| %>
			</div>
				<%= f.text_field :cat_breed, :size=>"40" %>
    			<%= f.submit '追加', class: "btn btn-primary" %>
    	</div>
    			<% end %>
	</div>

	<div class="row">
		<div class="col-xs-7">
		<table class = "table table-hover table-inverse">
			<thead>
				<tr class="active">
					<th>ID</th>
					<th>猫種</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% @breeds.each do |breed| %>
					<tr>
						<td><%= breed.id %></td>
						<td><%= breed.cat_breed %></td>
						<td><%= link_to "編集", edit_admin_favorite_breed_path(breed.id) %></td>
						<td><%= link_to "削除", edit_admin_favorite_breed_path(breed.id) %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	</div>
