<div class="row">
	<div class="col-xs-3">
        <%= render 'layouts/searchform' %>
	</div>

	<div class="col-xs-9">
		<h3>投稿一覧</h3>
            <div class="post-list">

                <% @posts.each do |post| %>
                        <%= link_to post_path(post.id) do %>
                            <table class="post-box">
                            	<tr>
                            		<td colspan="4"><%= attachment_image_tag post.user, :plofile_image, :fill, 25, 25, format: 'jpeg', class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg" %><%= link_to post.user.user_name, user_path(post.user) %></td>
                                    <td></td>
                            	</tr>
                                <tr>
                                    <td colspan="4"><%= post.title %></td>
                                    <td></td>
                                </tr>
                            	<tr>
                                	<td colspan="5"><%= attachment_image_tag post, :image, :fill, 200, 160, format: 'jpeg', fallback: "no_image.jpg" %></td>
                                </tr>
                                <tr>
                                	<td colspan="5"><i class="fas fa-paw" aria-hidden="true"></i><%= post.likes.count %> いいね</td>
                                </tr>
                                <tr>
                                    <td colspan="5"><%= post.content %></td>
                                </tr>
                            </table>
                        <% end %>
                <% end %>
            </div>
		</div>

		<div class="col-xs-offset-5 col-xs-6"><%= paginate @posts %></div>
	</div>
</div>

