<div class="container">
	<div class="row">
		<div class="col-xs-offset-2 col-xs-8">
			<h3><span>　新規投稿　</h3></span>
		</div>
	</div>

	<div class="row">
		<%= form_with model: @post, local: true do |post| %>

    			<% if @post.errors.any? %>
        			<div id="error_explanation">
            			<h2><%= pluralize(@post.errors.count, "error") %> prohibited this upload from being saved:</h2>
        			</div>
    			<% end %>

			<div class="col-xs-4 col-xs-offset-1">
				<p>投稿画像</p>

				<div class="post_image_field">
  					<%= image_tag @post.image if @post.image %>
  					<%= post.hidden_field :image_cache %>
  					<img id="img_prev" width=400 height=400 src="#" class="img-thumbnail  hidden"/>
  					<%= post.file_field :image, :id => 'post_post_img' %>
				</div>

				<p><%= post.check_box :remove_image %>画像を削除する</p>
			</div>

			<div class="col-xs-7">
				<div class="col-xs-12">
					<div class="col-xs-1">
						<p>Title:</p>
					</div>
					<div class="col-xs-9">
						<p><%= post.text_field :title %></p>
					</div>
				</div>

				<div class="col-xs-12">
					<div class="col-xs-1">
						<p>Text:</p>
					</div>
					<div class="col-xs-9">
						<p><%= post.text_area :content, size: "50x10", placeholder: "200字以内" %></p>
					</div>
				</div>

				<div class="col-xs-12">
					<div class="col-xs-1">
						<p>Tag:</p>
					</div>
					<div class="col-xs-9">
						<p><%= post.text_area :tag_names, size: "40x1" %></p>
					</div>
				</div>

				<div class="col-xs-12">
					<div class="col-xs-offset-3 col-xs-3">
						<%= post.submit '投稿', class: "btn btn-primary btn-block" %>
					<% end %>
					</div>
				</div>
			</div>
	</div>
</div>
