<div class="container">
	<div class="row">
		<div class="col-xs-offset-2 col-xs-8">
			<h3><span>　新規投稿　</h3></span>
		</div>
	</div>

	<div class="row">
		<%= form_for @post,url:posts_path do |post| %>

			<div class="col-xs-6">
				<p>商品画像：<%= post.attachment_field :image %></p>
			</div>

			<div class="col-xs-5">
				<p>Title<%= post.text_field :title %></p>
			</div>

			<div class="col-xs-5">
				<p>Content</p>
				<p><%= post.text_area :content, size: "50x10" %></p>
			</div>

			<div class="col-xs-offset-7 col-xs-2">
				<%= post.submit '投稿', class: "btn btn-primary btn-block" %>
			<% end %>
			</div>
	</div>
</div>
