<div class="row">
	<div class="col-xs-4 col-xs-offset-1">
		<h3><%= @post.title %></h3>
	</div>
</div>

<div class="row">
	<div class="col-xs-4 col-xs-offset-1">

		<%= attachment_image_tag @post, :image, :fill, 300, 300, format: 'jpeg', fallback: "no_image.jpg" %>

		<div class="post-info col-xs-12">
			<div class="post_<%= @post.id %>">
				<%= render 'posts/likesform', post: @post %>
			</div>
		</div>

		<% @post.tags.each do |tag| %>
  			<p>#<%= tag.tag_name %></p>
		<% end %>

		<p><%= link_to "編集",edit_post_path(@post.id) %></p>
		<p><%= link_to "削除",post_path(@post.id), method: :delete, data: { confirm: "削除してよろしいですか？" } %></p>
  	</div>

	<div class="col-xs-5">
		<div class="post-info col-xs-2">
			<p><%= attachment_image_tag @post.user, :plofile_image, :fill, 60, 60, format: 'jpeg', class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg" %></p>
		</div>

		<div class="post-info col-xs-7">
			<%= @post.user.user_name %></p>
			<p><%= @post.user.user_name %><%= @post.user.user_name %><%= @post.user.user_name %></p>
		</div>

		<div class="post-info-content col-xs-12">
			<p><%= @post.content %></p>
		</div>

		<div class="post-comment-form col-xs-10 col-xs-offset-2">
		<%= form_with model:[@post, @comment], data: {remote: true} do |f| %>
        	<p><%= f.text_area :comment, rows:'2', class: "form-control",placeholder: "コメントをここに" %></p>
    		<%= f.submit "送信", class: "btn btn-sm pull-right" %>
		<% end %>
		</div>

		<div class="col-xs-12">
    		<div class="comment_<%= @post.id %>">
      			<%= render 'posts/comment', comments: @post.comments %>
    		</div>
		</div>
	</div>
</div>

