<div class="post-show-wrapper">
	<div class="col-md-4 col-md-offset-1">

		<%= attachment_image_tag @post, :image, format: 'jpeg', fallback: "no_image.jpg", class: "post-show-image" %>



		<h3><%= @post.title %></h3>


		<div class="post-likes col-md-12">
			<div class="post_<%= @post.id %>">
				<%= render 'posts/likesform', post: @post %>
			</div>
		</div>

		<div class="post-tag col-md-12">
		      <% @post.tags.each do |t| %>
                <span class="label label-primary"><%= t.tag_name %></span>
              <% end %>
		</div>

		<% if @post.user == current_user %>
		<p><%= link_to "編集",edit_post_path(@post), class: "btn btn-success" %>
		<%= link_to "削除",post_path(@post.id), method: :delete, data: { confirm: "削除してよろしいですか？" }, class: "btn btn-danger" %></p>
		<% end %>
  	</div>

	<div class="col-md-5">
		<div class="post-info col-md-2">
			<%= attachment_image_tag @post.user, :plofile_image, format: 'jpeg', class: "img-circle pull-left post-profile-image", fallback: "no_image.jpg" %>
			<p><%= link_to @post.user.user_name, user_path(@post.user) %></p>
		</div>

		<div class="box10 col-md-10">
			<p><%= @post.content %></p>
		</div>

		<div class="post-comment-form col-md-10 col-md-offset-2">
		<%= form_with model:[@post, @comment], data: {remote: true} do |f| %>
        	<p><%= f.text_area :comment, rows:'2', class: "form-control",placeholder: "コメントをここに" %></p>
    		<%= f.submit "送信", class: "btn btn-sm pull-right" %>
		<% end %>
		</div>

		<div class="col-md-12">
    		<div class="comment_<%= @post.id %>">
      			<%= render 'posts/comment', comments: @post.comments %>
    		</div>
		</div>
	</div>
</div>

