<div class="contanier-fluid">
  <div class="row">
  	<div class="title col-xs-offset-2 col-xs-8">
      <div class="index-header">
        <h3>会員一覧</h3>
      </div>
    </div>
  </div>

<div class="row">
    <div class="col-xs-offset-3 col-xs-6">
      <table class="table table-hover" style="width: 700px;  height: 50px;">
      	<thead>
	      <tr class="active">
	        <th style="border:none; text-align: left">会員ID</th>
	        <th style="border:none; text-align: left">名前</th>
	      	<th style="border:none; text-align: left">ユーザーネーム</th>
	      	<th style="border:none; text-align: left">メールアドレス</th>
	      	<th style="border:none; text-align: left">ステータス</th>
	      </tr>
	    </thead>
	    <tbody style="background-color: rgba(255, 255, 255, 0.3);">
	      <% @users.each do |user| %>
	      <tr>
	      	<td><%= user.id %></td>
	      	<td><%= user.name %></td>
	      	<td style="text-decoration: underline;">
	      		<%= link_to (admin_user_path(user.id)) do %>
	      		<%= user.user_name %>
	      		<% end %>
	      	</td>
	      	<td><%= user.email %></td>
	      	<td>編集</td>
	      	<td>削除</td>
	      </tr>
	      <% end %>
      	</tbody>
      </table>
    </div>
	<div  class="col-xs-offset-5 col-xs-6"><%= paginate @users %></div>
</div>
</div>