<div class="row">
	<div class="col-md-4 col-sm-offset-2">
		<h3>ユーザーページ</h3>
	</div>
</div>

<div class="row">
	<div class="col-md-4 col-sm-offset-7">

        	<u><%= link_to "プロフィール編集", edit_user_registration_path(@user) %></u>

	</div>
</div>


<div class="row">
	<div class="col-md-1 col-sm-offset-2">
    <%= attachment_image_tag @user, :plofile_image, :fill, 90, 90, format: 'jpeg', class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg" %>
	</div>

	<div class="col-md-6">
		<div class="col-md-12 info-menu">
    		<p class="info-menu-left col-md-3">ユーザーネーム</p>
    		<p class="info-menu-right"><%= @user.user_name %></p>
    	</div>

		<div class="col-md-12 info-menu">
    		<p class="info-menu-left col-md-3">好きな猫種</p>
    		<p class="info-menu-right"><%= @user.favorite_breed.cat_breed %></p>
    	</div>

		<div class="col-md-12 info-menu">
    		<p class="info-menu-left col-md-3">自己紹介</p>
    		<p class="info-menu-right"><%= @user.introduction %></p>
    	</div>
    </div>

    <div class="col-md-5 col-sm-offset-2">
   		<%= render 'users/follow_form' %>
　　　	<%= render 'users/stats' %>
	</div>

</div>


<div class="row">
	<div class="col-md-8 col-sm-offset-2">
		<h3>投稿一覧</h3>
			<% @posts.each do |post| %>
				<%= attachment_image_tag post, :image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
			<% end %>
    </div>
</div>