<div class="search">
	<table class="search-menu col-xs-8">
  		<tr>
    		<th>タグ検索</th>
  		</tr>
  		<tr>
			<td><%= link_to "ユーザー投稿一覧", users_path %></td>
	    </tr>
	    <tr>
			<td><%= link_to "お気に入り投稿一覧", posts_likes_path %></td>
	    </tr>
	    <tr>
			<td><%= link_to "フォロー投稿一覧", posts_path %></td>
	    </tr>
	     <tr>
			<td><%= link_to "フォロワー投稿一覧", posts_path %></td>
	    </tr>
	    <tr>
			<td><%= link_to "好きな猫種一覧", posts_path %></td>
	    </tr>
	    <tr></tr>
	    <tr></tr>
	</table>
</div>