<!DOCTYPE html>
<html>
  <head>
    <title>Nyanstagram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div id="container">
  <header class="nav navbar-fixed-top">
    <div class="nav-menu">
        <div class="nav navbar-nav navbar-left">
          <%= link_to image_tag('logo.png', class: "logo"), root_path %>
        </div>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li><%= link_to "Top", posts_path, class: "nav-menu" %></li>
              <li><%= link_to "投稿する", new_post_path, class: "nav-menu" %></li>
              <li><%= link_to "マイページ", user_path(current_user.id), class: "nav-menu" %></li>
              <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-menu" %></li>
            <% elsif admin_signed_in? %>
            　<li><%= link_to "Home", posts_path, class: "nav-menu" %></li>
              <li><%= link_to "猫種一覧", admin_favorite_breeds_path, class: "nav-menu" %></li>
              <li><%= link_to "会員一覧", admin_users_path, class: "nav-menu" %></li>
              <li><%= link_to "投稿一覧", admin_users_path, class: "nav-menu", data: {turbolinks: false} %></li>
              <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-menu" %></li>
            <% else %>
              <li><%= link_to "Home", root_path, class: "nav-menu", data: {turbolinks: false } %></li>
              <li><%= link_to "About", home_about_path, class: "nav-menu", data: {turbolinks: false } %></li>
              <li><%= link_to "Sign up", new_user_registration_path, class: "nav-menu", data: {turbolinks: false } %></li>
              <li><%= link_to "Log in", new_user_session_path, class: "nav-menu", data: {turbolinks: false } %></li>
            <% end %>
          </ul>
      </div>
    </header>

    <main class="container-fluid body">
      <%= yield %>
    </main>

    <footer>
      <p>©DMM WEBCAMP, All Right Reserved.</p>
    </footer>
 </div>
  </body>

</html>
